In [1]:
import sqlite3
import pandas as pd

In [2]:
# create sql connection to our sqlite database
cnx = sqlite3.connect('spotify.sqlite')
cnx.text_factory = lambda x: str(x, 'latin1')
Albums = pd.read_sql_query("SELECT * FROM albums", cnx)
Artists = pd.read_sql_query("SELECT * FROM artists", cnx)
R_artist_genre = pd.read_sql_query("SELECT * FROM r_artist_genre", cnx)
R_albums_tracks = pd.read_sql_query("SELECT * FROM r_albums_tracks", cnx)
R_albums_artists = pd.read_sql_query("SELECT * FROM r_albums_artists", cnx)
Audio_features = pd.read_sql_query("SELECT * FROM audio_features", cnx)
Tracks = pd.read_sql_query("SELECT * FROM tracks", cnx)

cnx.close()

In [3]:
print(
    len(Albums),
    len(Artists),
    len(R_artist_genre),
    len(R_albums_tracks),
    len(R_albums_artists),
    len(Audio_features),
    len(Tracks)
)

4820754 1066031 487386 9900173 921486 8740043 8741672

### Preparing the Albums dataframe

In [4]:
# See what columns and datatypes we're dealing with
Albums[Albums['id']=='5dGWwsZ9iB2Xc3UKR0gif2']

,id,name,album_group,album_type,release_date,popularity
158350,5dGWwsZ9iB2Xc3UKR0gif2,Justice,,album,1616112000000,100

In [5]:
Albums.dtypes

id              object
name            object
album_group     object
album_type      object
release_date     int64
popularity       int64
dtype: object

In [6]:
Albums.isna().sum()

id              0
name            0
album_group     0
album_type      0
release_date    0
popularity      0
dtype: int64

In [7]:
# Keep only album types (no singles, etc.)
Albums = Albums[Albums['album_type'] == 'album']
Albums.shape

(3612835, 6)

In [8]:
# What is album_group and can we get rid of it?
Albums['album_group'].value_counts(ascending=False).rename_axis('album_group').reset_index(name='count')

  album_group    count
0              3612835

In [9]:
# drop album popularity, album_type and album_group, rename id and name
Albums.drop(['popularity','album_group','album_type'], axis=1, inplace=True)
Albums.rename(columns={'id':'album_id','name':'album_name'}, inplace=True)
Albums[Albums['album_id']=='5dGWwsZ9iB2Xc3UKR0gif2']

                      album_id album_name   release_date
158350  5dGWwsZ9iB2Xc3UKR0gif2    Justice  1616112000000

In [10]:
# attempted to convert release date from ms to date but always came back with error OutOfBoundsDatetime: cannot convert input with unit 'ms'
# pd.to_datetime(Albums['release_date'], origin='unix', unit='ms')
# Albums[Albums['album_id']=='5dGWwsZ9iB2Xc3UKR0gif2']
Albums['release_date'].astype(str)

0           954633600000
2           959040000000
4           942710400000
5           779414400000
6          1044489600000
               ...
4820746    1424649600000
4820747    1444953600000
4820750    1513555200000
4820752    1541980800000
4820753    1542326400000
Name: release_date, Length: 3612835, dtype: object

In [12]:
# case release_date to string see if to_datetime works
# pd.to_datetime(Albums['release_date'], origin='unix', unit='ms')
# store all release_dates > 1577836800 convert that separately from the dates that are < 1577836800

# Albums['release_date'] = pd.to_datetime(Albums.release_date, unit='ms')
# Albums.head()

In [13]:
pd.to_datetime(1577836800, unit='s')

Timestamp('2020-01-01 00:00:00')

In [50]:
pd.to_datetime(954633600000, unit='ms')

Timestamp('2000-04-02 00:00:00')

### Preparing the Artists dataframe

In [15]:
Artists.head(2)

           name                      id  popularity  followers
0        Xzibit  4tujQJicOnuZRLiBFdp3Ou          69    1193665
1  Erick Sermon  2VX0o9LDIVmKIgpnwdJpOJ          54     142007

In [16]:
Artists.dtypes

name          object
id            object
popularity     int64
followers      int64
dtype: object

In [17]:
Artists.isna().sum()

name          0
id            0
popularity    0
followers     0
dtype: int64

In [18]:
# rename columns
Artists.rename(columns={'id':'artist_id','name':'artist_name'}, inplace=True)

In [56]:
Artists.head(2)

    artist_name               artist_id  popularity  followers
0        Xzibit  4tujQJicOnuZRLiBFdp3Ou          69    1193665
1  Erick Sermon  2VX0o9LDIVmKIgpnwdJpOJ          54     142007

### Preparing R_artist_genre dataframe

In [19]:
R_artist_genre.head(2)

          genre_id               artist_id
0  detroit hip hop  4tujQJicOnuZRLiBFdp3Ou
1           g funk  4tujQJicOnuZRLiBFdp3Ou

In [20]:
R_artist_genre.dtypes

genre_id     object
artist_id    object
dtype: object

In [53]:
R_artist_genre.rename(columns={'genre_id':'genre'}, inplace=True)

In [54]:
# genre_id when filtered as below, will return based on the entire search (i.e. searching 'funk' will not catch 'g funk')
R_artist_genre[R_artist_genre['genre'] == "g funk"]

         genre               artist_id
1       g funk  4tujQJicOnuZRLiBFdp3Ou
21      g funk  6DPYiyq5kWVQS4RGwxzPC7
26      g funk  7hJcb9fa4alzcOq3EaNPoG
32      g funk  1Oa0bMld0A3u5OTYfMzp5h
111     g funk  3zNM2tRfTX6LI1lN2PlrTt
...        ...                     ...
473873  g funk  6kEwu0twnfzngQt3Gy8taP
475932  g funk  1Wfh3Tz3xOB4JjqTk2zT5K
478325  g funk  7vPLHiyrVGx5OmaSPqJNGw
478791  g funk  3drEaBmm4UexsiDfz5AzXV
482718  g funk  7uf4u6fdkpVycU3CPIC2mx

[91 rows x 2 columns]

In [55]:
# the below catches more types, but is that more useful for us?
R_artist_genre[R_artist_genre['genre'].str.contains('funk')]

                   genre               artist_id
1                 g funk  4tujQJicOnuZRLiBFdp3Ou
21                g funk  6DPYiyq5kWVQS4RGwxzPC7
26                g funk  7hJcb9fa4alzcOq3EaNPoG
32                g funk  1Oa0bMld0A3u5OTYfMzp5h
111               g funk  3zNM2tRfTX6LI1lN2PlrTt
...                  ...                     ...
487252       funky house  1dA7pt23MNLlDsLpABATtG
487257              funk  3S34Unhn5yRcaH5K9aU5Et
487284         afro-funk  7zxcZlBnk8OpLSPAm4Jeyk
487285       cumbia funk  7zxcZlBnk8OpLSPAm4Jeyk
487367  funky tech house  5H2Ir5oA547rZrma8ZXFs5

[4420 rows x 2 columns]

### Preparing R_albums_tracks dataframe

In [23]:
R_albums_tracks.head(2)

                 album_id                track_id
0  6os2Mv58OYnQClPf7B9E1s  3HnrHGLE9u2MjHtdobfWl9
1  6os2Mv58OYnQClPf7B9E1s  4lDjkpUrpWlMFofIpzuExK

### Preparing R_albums_artists dataframe

In [24]:
R_albums_artists.head(2)

                 album_id               artist_id
0  6os2Mv58OYnQClPf7B9E1s  2HS2wQTJXpA65XWOKlAVxk
1  5XXN1tFQg7D7U1NSVh5fjf  3VBpsrUi2vV7Uj87ONHu7Z

### Preparing Audio_features dataframe

In [25]:
Audio_features.head(2)

,id,acousticness,analysis_url,danceability,duration,energy,instrumentalness,key,liveness,loudness,mode,speechiness,tempo,time_signature,valence
0,2jKoVlU7VAmExKJ1Jh3w9P,0.180,https://api.spotify.com/v1/audio-analysis/2jKo...,0.893,219160,0.514,0.0,11,0.0596,-5.08,1,0.283,95.848000,4,0.787
1,4JYUDRtPZuVNi7FAnbHyux,0.272,https://api.spotify.com/v1/audio-analysis/4JYU...,0.520,302013,0.847,0.0,9,0.3250,-5.30,1,0.427,177.371002,4,0.799

In [26]:
R_artist_genre['genre_id'].value_counts(ascending=False).rename_axis('genre').reset_index(name='count').head(50)

                      genre  count
0                 dance pop    591
1                       pop    585
2                      rock    579
3             electro house    572
4                     latin    515
5     classical performance    508
6                   hip hop    498
7                       edm    492
8                   pop rap    490
9                  tropical    490
10               indie rock    488
11              modern rock    477
12                      rap    466
13                 pop rock    465
14               electropop    462
15               indie folk    460
16             country rock    452
17               latin rock    441
18  modern alternative rock    431
19                  pop edm    423
20           german hip hop    416
21            post-teen pop    414
22          indie poptimism    411
23                pop dance    410
24                indie pop    409
25     calming instrumental    408
26                     funk    403
27         background piano    401
28               freak folk    399
29      underground hip hop    399
30       urban contemporary    394
31              escape room    393
32                    sleep    391
33         background music    391
34         stomp and holler    388
35           tropical house    384
36                folk rock    383
37          adult standards    380
38           french hip hop    376
39         indian classical    376
40                     trap    375
41                    k-pop    374
42                soft rock    367
43             new wave pop    365
44         alternative rock    365
45        progressive house    365
46          rock en espanol    364
47          alternative r&b    363
48                     fake    362
49                  europop    362

In [27]:
# drop anaylsis_url 
Audio_features.drop(['analysis_url'], axis=1, inplace=True)

In [51]:
# rename id
Audio_features.rename(columns={'id':'track_id'}, inplace=True)

In [52]:
Audio_features.head()

,track_id,acousticness,danceability,duration,energy,instrumentalness,key,liveness,loudness,mode,speechiness,tempo,time_signature,valence
0,2jKoVlU7VAmExKJ1Jh3w9P,0.1800,0.893,219160,0.514,0.000000,11,0.0596,-5.080,1,0.283,95.848000,4,0.787
1,4JYUDRtPZuVNi7FAnbHyux,0.2720,0.520,302013,0.847,0.000000,9,0.3250,-5.300,1,0.427,177.371002,4,0.799
2,6YjKAkDYmlasMqYw73iB0w,0.0783,0.918,288200,0.586,0.000000,1,0.1450,-2.890,1,0.133,95.516998,4,0.779
3,2YlvHjDb4Tyxl4A1IcDhAe,0.5840,0.877,243013,0.681,0.000000,1,0.1190,-6.277,0,0.259,94.834999,4,0.839
4,3UOuBNEin5peSRqdzvlnWM,0.1700,0.814,270667,0.781,0.000518,11,0.0520,-3.330,1,0.233,93.445000,4,0.536

### Preparing Tracks dataframe

In [35]:
Tracks.head(2)

,id,disc_number,duration,explicit,audio_feature_id,name,preview_url,track_number,popularity,is_playable
0,1dizvxctg9dHEyaYTFufVi,1,275893,1,1dizvxctg9dHEyaYTFufVi,Gz And Hustlas (feat. Nancy Fletcher),,12,0,NaN
1,2g8HN35AnVGIk7B8yMucww,1,252746,1,2g8HN35AnVGIk7B8yMucww,Big Poppa - 2005 Remaster,https://p.scdn.co/mp3-preview/770e023eb0318270...,13,77,NaN

In [37]:
# Rename columns, drop disc_number, explicit, duration (duplicate with audiofeatures), audio_feature_id, preview_url, track_number, is_playable
Tracks.rename(columns={'id':'track_id','name':'track_name'}, inplace=True)
Tracks.drop(['disc_number','explicit','duration','audio_feature_id','preview_url','track_number','is_playable'], axis=1, inplace=True)
Tracks.head(2)

                 track_id                             track_name  popularity
0  1dizvxctg9dHEyaYTFufVi  Gz And Hustlas (feat. Nancy Fletcher)           0
1  2g8HN35AnVGIk7B8yMucww              Big Poppa - 2005 Remaster          77

### Writing dataframes to database

In [42]:
# Imports
from sqlalchemy import create_engine
import psycopg2 
from config import db_password

# Create connection to database (endpoint to be decided)
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/spotify_db"

# instantiate engine
engine = create_engine(db_string)

Albums.to_sql(name='albums', con=engine, if_exists='replace', index=False)
Artists.to_sql(name='artists', con=engine, if_exists='replace', index=False)
Audio_features.to_sql(name='audio_features', con=engine, if_exists='replace', index=False)
R_artist_genre.to_sql(name='r_artist_genre', con=engine, if_exists='replace', index=False)
R_albums_tracks.to_sql(name='r_albums_tracks', con=engine, if_exists='replace', index=False)
R_albums_artists.to_sql(name='r_albums_artists', con=engine, if_exists='replace', index=False)
Tracks.to_sql(name='Tracks', con=engine, if_exists='replace', index=False)

(16, 6)